:root {
  --light-grey: #999999;
  --dark-grey: #444;
  --bg-sky: #e0ffff;
  --dark-cyan: #017777;

  --dark-mode-dark-bg: #1b1b1f;
  --dark-mode-light-bg: #202127;
  --dark-mode-light-text: #c6c6c6;
  --dark-mode-dark-text: #161618;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: 100%;
  height: 100%;
}
.light-mode {
  min-height: 100vh;
  background-color: var(--bg-sky);
}
.dark-mode {
  min-height: 100vh;
  background-color: var(--dark-mode-dark-bg);
}

/* home-page-styles */
.main {
  width: 100%;
}
.form-builder-container {
  width: 100%;
  display: flex;
  padding-left: 10px;
}

/* navbar-styles */
.navbar {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
.navbar-light {
  background-color: var(--bg-sky);
}
.navbar-dark {
  background-color: var(--dark-mode-dark-bg);
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left-heading {
  font-size: 1rem;
  margin-left: 16px;
  font-weight: 600;
}
.nav-left-heading-light {
  color: var(--light-grey);
}
.nav-left-heading-dark {
  color: var(--dark-mode-light-text);
}
.form-title-wrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1px;
}
.form-title-edit-input {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 10px;
  padding-left: 5px;
}
.form-title-edit-input-light {
  color: var(--dark-grey);
  border-bottom: 1px solid #ccc;
}
.form-title-edit-input-dark {
  color: var(--dark-mode-light-text);
  border-bottom: 1px solid #666;
}
.form-title {
  margin-left: 0.25rem;
  font-size: 1.125rem;
  text-transform: capitalize;
  line-height: 1.75rem;
  font-weight: 500;
  -webkit-user-select: none;
  user-select: none;
}
.form-title-light {
  color: var(--dark-grey);
}
.form-title-dark {
  color: #fff;
}
.form-title-edit-btn {
  cursor: pointer;
}
.form-title-edit-btn-icon {
  height: 16px;
  &:hover {
    color: var(--dark-cyan);
  }
}
.form-title-edit-btn-icon-light {
  color: var(--light-grey);
}
.form-title-edit-btn-icon-dark {
  color: var(--dark-mode-light-text);
}
.nav-right {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}
.nav-right-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  padding: 6px 16px;
  border-radius: 999em;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}
.nav-btn-light {
  background-color: var(--dark-cyan);
  color: #fff;
  box-shadow: 0px 1px 3px black;

  &:hover {
    transform: translateY(-4px);
  }
}
.nav-btn-dark {
  color: #fff;
  background-color: var(--dark-mode-dark-text);
  box-shadow: 0px 2px 4px black;

  &:hover {
    color: var(--dark-cyan);
    transform: translateY(-4px);
  }
}

/* mode-btn */
.mode-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 50%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  box-shadow: 0px 2px 4px black;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}
.mode-btn-light {
  background-color: var(--dark-cyan);
  color: #fff;

  &:hover {
    transform: translateY(-4px);
  }
}
.mode-btn-dark {
  background-color: var(--dark-mode-dark-text);
  color: #fff;

  &:hover {
    color: var(--dark-cyan);
    transform: translateY(-4px);
  }
}

/* form-canvas-styles */
.form-canvas {
  width: 75%;
  max-height: 88vh;
  min-height: 88vh;
  padding: 20px;
  overflow-y: scroll;
  margin-top: 71px;
  border-radius: 15px;
}
.form-canvas-light {
  background-color: #fff;
  border: 0.5px solid rgba(1, 95, 95, 0.288);
}
.form-canvas-dark {
  background-color: var(--dark-mode-light-bg);
}
.form-canvas::-webkit-scrollbar {
  display: none;
}
.form-canvas-container {
  height: 100%;
  width: 100%;
}
.empty-section-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-section-text {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
}
.empty-section-text-light {
  color: var(--light-grey);
}
.empty-section-text-dark {
  color: var(--dark-mode-light-bg);
}
.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.form-section-container {
  position: relative;
  height: fit-content;
  border-radius: 15px;
}
.form-section-container-light {
  background-color: rgb(232, 238, 250);
  box-shadow: 0px 1px 2px var(--light-grey);
}
.form-section-container-dark {
  background-color: var(--dark-mode-dark-text);
  box-shadow: 0px 2px 3px black;
}
.form-section-head {
  width: 100%;
  height: fit-content;
  padding: 12px 20px 2px 20px;
}
.form-section-head-heading {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.1rem;
}
.form-section-head-heading-light {
  color: var(--dark-grey);
}
.form-section-head-heading-dark {
  color: var(--dark-mode-light-text);
}
.form-section-head p {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--light-grey);
}
.form-section-body {
  min-height: 96px;
  padding: 0.75rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.form-section-delete-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
  color: red;

  &:hover {
    color: rgb(201, 1, 1);
  }
}
.form-fields-container {
  height: fit-content;
}
.form-field-wrapper {
  position: relative;
  height: fit-content;
  padding: 8px;
  border-radius: 5px;
}
.form-field-label {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.form-field-label-light {
  color: var(--light-grey);
}
.form-field-label-dark {
  color: var(--dark-mode-light-text);
}
.form-field-input {
  width: 100%;
  height: fit-content;
  padding: 4px 7px;
  border-radius: 5px;
  font-size: 0.875rem;
  line-height: 1.25rem;

  &:focus {
    outline: none;
  }
}
.form-field-input-light {
  border: 1px solid var(--dark-grey);
  color: var(--dark-grey);
}
.form-field-input-dark {
  border: 1px solid var(--dark-mode-light-text);
  color: var(--dark-mode-light-text);
}
.form-field-checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}
.form-field-checkbox {
  width: 14px;
  height: 14px;
  border: 1px solid var(--dark-grey);
}
.form-field-checkbox-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.form-field-checkbox-label-light {
  color: #374151;
}
.form-field-checkbox-label-dark {
  color: #999999;
}
.form-field-radio-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}
.form-field-radio {
  width: 8px;
  height: 8px;
  border: 1px solid var(--dark-grey);
}
.form-field-radio-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.form-field-radio-label-light {
  color: #374151;
}
.form-field-radio-label-dark {
  color: #999999;
}
.form-field-default-input {
  width: 100%;
  height: fit-content;
  padding: 4px 7px;
  border-radius: 5px;
  font-size: 0.875rem;
  line-height: 1.25rem;

  &:focus {
    outline: none;
  }
}
.form-field-default-input-light {
  border: 1px solid var(--dark-grey);
  color: var(--light-grey);
}
.form-field-default-input-dark {
  border: 1px solid var(--dark-mode-light-text);
  color: var(--dark-mode-light-text);
}
.form-field-delete-btn {
  position: absolute;
  top: 2px;
  right: 0.25rem;
  padding: 0.25rem;
  color: #f83030;
  cursor: pointer;

  &:hover {
    color: #c00000;
  }
}
.form-empty-drop-section {
  min-height: 96px;
  display: flex;
  margin-top: 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 100%;
}
.form-empty-drop-section-light {
  border: 1px solid #ddd;
  background-color: #eee;
}
.form-empty-drop-section-dark {
  border: 3px solid var(--dark-mode-dark-text);
  background-color: var(--dark-mode-dark-text);
  box-shadow: 0px 2px 4px black;
}
.form-empty-drop-section-heading {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
}
.form-empty-drop-section-heading-light {
  color: var(--dark-grey);
}
.form-empty-drop-section-heading-dark {
  color: var(--light-grey);
}

/* sidebar-styles */
.sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-top: 68px;
  height: 88vh;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

/* field-sidebar-styles */
.field-sidebar-outer-container {
  width: 100%;
}
.field-sidebar-outer-wrapper {
  padding: 0.625rem;
  padding-bottom: 5px;
}
.field-sidebar-heading {
  padding: 5px 10px 5px 15px;
  margin-bottom: 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.field-sidebar-heading-light {
  background-color: #fff;
  color: var(--dark-cyan);
  box-shadow: 0px 1px 2px var(--dark-mode-light-text);
  border: 0.5px solid rgba(1, 95, 95, 0.288);
}
.field-sidebar-heading-dark {
  background-color: var(--dark-mode-dark-text);
  color: var(--dark-mode-light-text);
  box-shadow: 0px 2px 4px black;
}
.field-sidebar-chevron-btn {
  width: 25px;
}
.field-sidebar-chevron-btn-light {
  color: var(--dark-cyan);
}
.field-sidebar-chevron-btn-dark {
  color: var(--dark-mode-light-text);
}
.field-sidebar-inner-container {
  width: 100%;
}
.field-sidebar-inner-wrapper {
  margin-bottom: 10px;
  padding: 0.75rem;
  border-radius: 15px;
  width: 100%;
}
.field-sidebar-inner-wrapper-light {
  background-color: #fff;
  box-shadow: 0px 2px 4px var(--dark-mode-light-text);
}
.field-sidebar-inner-wrapper-dark {
  background-color: var(--dark-mode-light-bg);
  box-shadow: 0px 1px 2px black;
  border: 0.5px solid var(--dark-mode-dark-text);
}
.field-sidebar-title {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 7px;
  padding-left: 5px;
}
.field-sidebar-title-light {
  color: var(--light-grey);
  border-bottom: 0.5px solid var(--light-grey);
}
.field-sidebar-title-dark {
  color: var(--dark-mode-light-text);
  border-bottom: 0.5px solid var(--dark-mode-light-text);
}
.field-container {
  width: 100%;
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
}
.field-btn {
  width: 40%;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 8px;
  border-radius: 7px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
.field-btn-light {
  color: var(--dark-mode-light-bg);
  background-color: #eee;
  box-shadow: 0px 1px 2px var(--dark-grey);

  &:hover {
    transform: translateY(-5px);
  }
}
.field-btn-dark {
  color: var(--dark-mode-light-text);
  background-color: var(--dark-mode-dark-text);
  box-shadow: 0px 2px 5px black;

  &:hover {
    color: var(--dark-cyan);
    transform: translateY(-4px);
  }
}

/* property-sidebar-styles */
.property-sidebar-outer-container {
  width: 100%;
  margin-top: -10px;
}
.property-sidebar-outer-wrapper {
  padding: 0.625rem;
  padding-bottom: 5px;
}
.property-sidebar-heading {
  padding: 5px 10px 5px 15px;
  margin-bottom: 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.property-sidebar-heading-light {
  color: var(--dark-cyan);
  background-color: #fff;
  box-shadow: 0px 1px 2px var(--dark-mode-light-text);
  border: 0.5px solid rgba(1, 95, 95, 0.288);
}
.property-sidebar-heading-dark {
  background-color: var(--dark-mode-dark-text);
  color: var(--dark-mode-light-text);
  box-shadow: 0px 2px 4px black;
}
.property-sidebar-chevron-btn {
  width: 25px;
}
.property-sidebar-chevron-btn-light {
  color: var(--dark-cyan);
}
.property-sidebar-chevron-btn-dark {
  color: var(--dark-mode-light-text);
}
.property-sidebar-inner-container {
  width: 100%;
}
.property-sidebar-inner-wrapper {
  margin-bottom: 10px;
  padding: 0.75rem;
  border-radius: 15px;
  width: 100%;
}
.property-sidebar-inner-wrapper-light {
  background-color: #fff;
  box-shadow: 0px 2px 4px var(--light-grey);
  border: 0.5px solid rgba(1, 95, 95, 0.288);
}
.property-sidebar-inner-wrapper-dark {
  background-color: var(--dark-mode-light-bg);
  border: 0.5px solid var(--dark-mode-dark-text);
  box-shadow: 0px 2px 4px black;
}
.property-sidebar-inner-wrapper-empty {
  padding: 0.75rem;
  border-radius: 15px;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.property-sidebar-inner-wrapper-empty-light {
  background-color: #fff;
  box-shadow: 0px 2px 4px var(--light-grey);
  border: 0.5px solid rgba(1, 95, 95, 0.288);
}
.property-sidebar-inner-wrapper-empty-dark {
  background-color: var(--dark-mode-light-bg);
  box-shadow: 0px 2px 4px black;
  border: 0.5px solid var(--dark-mode-dark-text);
}
.property-sidebar-inner-wrapper-empty-heading {
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: -0.3px;
  font-weight: 700;
}
.property-sidebar-inner-wrapper-empty-heading-light {
  color: var(--light-grey);
}
.property-sidebar-inner-wrapper-empty-heading-dark {
  color: var(--dark-mode-light-text);
}
.property-sidebar-inner-wrapper-empty p {
  text-transform: lowercase;
  font-size: 0.8rem;
  color: var(--light-grey);
  font-weight: 500;
}
.property-sidebar-title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 7px;
  padding-left: 5px;
}
.property-sidebar-title-light {
  color: var(--light-grey);
  border-bottom: 0.5px solid var(--dark-grey);
}
.property-sidebar-title-dark {
  color: var(--dark-mode-light-text);
  border-bottom: 0.5px solid var(--dark-mode-light-text);
}

/* section/field-input-styles */
.section-property-container,
.field-property-container,
.field-fieldtype-wrapper {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section-property-container-light,
.field-property-container-light,
.field-fieldtype-wrapper-light {
  border-bottom: 1px solid var(--light-grey);
}
.section-property-container-dark,
.field-property-container-dark,
.field-fieldtype-wrapper-dark {
  border-bottom: 1px solid var(--dark-mode-light-text);
}
.section-property-title,
.field-property-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.section-property-mark-icon,
.field-property-mark-icon {
  width: 16px;
  margin-top: 2px;
  font-weight: 900;
}
.section-property-mark-icon-light,
.field-property-mark-icon-light {
  color: var(--dark-grey);
}
.section-property-mark-icon-dark,
.field-property-mark-icon-dark {
  color: var(--dark-mode-light-text);
}
.section-property-title-heading,
.field-property-title-heading {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
}
.section-property-title-heading-light,
.field-property-title-heading-light {
  color: var(--light-grey);
}
.section-property-title-heading-dark,
.field-property-title-heading-dark {
  color: var(--dark-mode-light-text);
}
.section-property-input,
.field-property-input {
  width: 100%;
  padding: 3px 8px;
  outline: none;
  font-size: 0.85rem;
  font-weight: 400;
  border-radius: 5px;
}
.section-property-input-light,
.field-property-input-light {
  color: var(--dark-grey);
  border: 0.1px solid var(--light-grey);
}
.section-property-input-dark,
.field-property-input-dark {
  color: var(--dark-mode-light-text);
  border: 0.1px solid var(--dark-mode-light-text);
}
.section-property-container-settings,
.field-property-container-settings {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.section-hide-settings-wrapper,
.field-hide-settings-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}
.section-hide-settings-wrapper input,
.field-hide-settings-wrapper input {
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.section-hide-settings-wrapper-label,
.field-hide-settings-wrapper-label {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}
.section-hide-settings-wrapper-label-light,
.field-hide-settings-wrapper-label-light {
  color: var(--dark-grey);
}
.section-hide-settings-wrapper-label-dark,
.field-hide-settings-wrapper-label-dark {
  color: var(--dark-mode-light-text);
}
.section-width-property-wrapper,
.field-width-property-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
}
.section-width-property-wrapper-light label,
.field-width-property-wrapper-light label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
  padding: 5px 10px;

  &:hover {
    background-color: #e4e4e4;
  }

  &:focus-within {
    background-color: #e6e6e6;
  }

  input {
    appearance: none;
    &:checked + span {
      background-color: mix(#fff, darkcyan, 84%);
      &:before {
        box-shadow: inset 0 0 0 0.4375em var(--dark-cyan);
      }
    }
  }
  span {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0.375em 0.75em 0.375em 5px;
    border-radius: 50%;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--dark-grey);
    transition: 0.25s ease;
    &:hover {
      background-color: linear-gradient(to right, #fff, darkcyan);
    }
    &:before {
      display: flex;
      flex-shrink: 0;
      content: "";
      background-color: #e6e6e6;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 5px;
      transition: 0.25s ease;
      box-shadow: inset 0 0 0 0.125em var(--dark-cyan);
    }
  }
}
.section-width-property-wrapper-dark label,
.field-width-property-wrapper-dark label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
  padding: 5px 10px;

  &:hover {
    background-color: var(--dark-mode-dark-text);
  }

  &:focus-within {
    background-color: var(--dark-mode-dark-text);
  }

  input {
    appearance: none;
    &:checked + span {
      background-color: mix(#fff, darkcyan, 84%);
      &:before {
        box-shadow: inset 0 0 0 0.4375em var(--dark-cyan);
      }
    }
  }
  span {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0.375em 0.75em 0.375em 5px;
    border-radius: 50%;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--dark-mode-light-text);
    transition: 0.25s ease;
    &:hover {
      background-color: linear-gradient(to right, #fff, darkcyan);
    }
    &:before {
      display: flex;
      flex-shrink: 0;
      content: "";
      background-color: var(--dark-mode-dark-text);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 5px;
      transition: 0.25s ease;
      box-shadow: inset 0 0 0 0.125em var(--dark-mode-light-text);
    }
  }
}

.section-alignment-property-wrapper,
.field-alignment-property-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 999em;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  margin-top: 10px;
  font-size: 14px;
}
.section-alignment-property-wrapper-light,
.field-alignment-property-wrapper-light {
  background-color: var(--dark-cyan);
}
.section-alignment-property-wrapper-dark,
.field-alignment-property-wrapper-dark {
  background-color: var(--dark-mode-dark-text);
}
.section-alignment-property-wrapper .section-alignment-property-label,
.field-alignment-property-wrapper .field-alignment-property-label {
  flex: 1 1 auto;
  text-align: center;
}
.section-alignment-property-wrapper .section-alignment-property-label input,
.field-alignment-property-wrapper .field-alignment-property-label input {
  display: none;
}
.section-alignment-property-wrapper
  .section-alignment-property-label
  .section-alignment-property-name,
.field-alignment-property-wrapper
  .field-alignment-property-label
  .field-alignment-property-name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 999em;
  border: none;
  padding: 0.5rem 0;
  color: #fff;
  font-weight: 600;
  font-size: 0.95rem;
  transition: all 0.3s ease-in-out;
}
.section-alignment-property-wrapper
  .section-alignment-property-label
  input:checked
  + .section-alignment-property-name,
.field-alignment-property-wrapper
  .field-alignment-property-label
  input:checked
  + .field-alignment-property-name {
  background-color: #efefef;
  font-weight: 700;
  color: var(--dark-cyan);
}
.field-select-dropdown,
.field-select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.field-select-dropdown {
  position: relative;
  border-radius: 8px;
  cursor: pointer;
}
.field-select-dropdown-light {
  background-color: #e6e6e6;
}
.field-select-dropdown-dark {
  background-color: var(--dark-mode-dark-text);
}
.field-select-dropdown select {
  font-size: 0.95rem;
  font-weight: 500;
  width: 100%;
  padding: 8px 30px 8px 15px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.field-select-dropdown-light select {
  color: var(--dark-grey);
}
.field-select-dropdown-dark select {
  color: var(--dark-mode-light-text);
}
.field-select-dropdown select:active,
.field-select-dropdown select:focus {
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.field-select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  cursor: pointer;
  border-top: 5px solid var(--light-grey);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* preview-page-style */
.form-preview-page {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  height: 100vh;
  padding: 10px 20px;
  width: 100%;
}
.form-preview-page-light {
  background-color: #fff;
}
.form-preview-page-dark {
  background-color: var(--dark-mode-light-bg);
}
.form-preview-close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  transform: rotate(45deg);
  padding: 1px;
  cursor: pointer;
}
.form-preview-close-btn-icon {
  height: 35px;
  width: 35px;
}
.form-preview-close-btn-icon-light {
  color: var(--dark-grey);

  &:hover {
    color: black;
  }
}
.form-preview-close-btn-icon-dark {
  color: var(--dark-mode-light-text);

  &:hover {
    color: #fff;
  }
}
.form-preview-container {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  overflow-y: auto;
}
.form-preview-container-light {
  background-color: var(--bg-sky);
  box-shadow: 0px 2px 4px var(--light-grey);
}
.form-preview-container-dark {
  background-color: var(--dark-mode-dark-text);
  box-shadow: 0px 2px 4px black;
}
.form-preview-container::-webkit-scrollbar {
  display: none;
}
.form-preview-heading {
  width: 100%;
  padding: 3px;
  padding-left: 20px;
  line-height: 1.5vw;
  margin-bottom: 15px;
}
.form-preview-heading-title {
  font-size: 1.3vw;
  font-weight: 600;
  text-transform: capitalize;
}
.form-preview-heading-title-light {
  color: var(--dark-grey);
}
.form-preview-heading-title-dark {
  color: var(--dark-mode-light-text);
}
.form-preview-heading h5 {
  font-size: 0.85vw;
  font-weight: 600;
  color: var(--light-grey);
}
.form-preview {
  width: 100%;
  height: fit-content;
  padding: 3px;
  border-radius: 8px;
}
.form-preview-light {
  background-color: #fff;
  border: 1px solid #eee;
}
.form-preview-dark {
  background-color: var(--dark-mode-light-bg);
}
.form-preview-title {
  width: 100%;
  text-align: center;
  margin-top: 8px;
}
.form-preview-title-heading {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}
.form-preview-title-heading-light {
  color: var(--dark-cyan);
}
.form-preview-title-heading-dark {
  color: var(--bg-sky);
}
.form-preview-section-container {
  width: 100%;
  height: fit-content;
  padding: 10px 0px;
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.form-preview-section {
  height: fit-content;
  border-radius: 7px;
  padding: 7px 10px;
}
.form-preview-section-light {
  background-color: #eee;
}
.form-preview-section-dark {
  background-color: var(--dark-mode-dark-bg);
}
.form-preview-section-heading {
  width: 100%;
  line-height: 16px;
  margin-bottom: 7px;
  padding: 5px;
}
.form-preview-section-heading-title {
  font-size: 0.9rem;
  font-weight: 600;
}
.form-preview-section-heading-title-light {
  color: var(--dark-grey);
}
.form-preview-section-heading-title-dark {
  color: var(--dark-mode-light-text);
}
.form-preview-section-heading h6 {
  font-size: 0.75rem;
  color: var(--light-grey);
  font-weight: 500;
}
.form-preview-section-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.form-preview-section-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}
.form-preview-section-field-wrapper label {
  font-size: 0.8rem;
  font-weight: 600;
}
.form-preview-section-field-wrapper-light label {
  color: var(--dark-cyan);
}
.form-preview-section-field-wrapper-dark label {
  color: var(--bg-sky);
}